# Database Configuration
# POSTGRES_USER=usuario
# POSTGRES_PASSWORD=contraseña
# POSTGRES_DB=GestionInventario
# Format: postgresql://usuario:contraseña@host:puerto/nombre_base_datos

# Seguridad JWT
# SECRET_KEY=clave-segura
# ALGORITHM=HS256
# ACCESS_TOKEN_EXPIRE_MINUTES=30
